@charset "utf-8";
*{padding:0;margin:0;}
.container-fluid{padding:0;}
.sty1 {position:relative;}
.sty1 > .topImg{width:100%;display:block;position:absolute;z-index:1;}
.sty1 > a {position:absolute;}
.sty1 > a:nth-of-type(1){
    display:block;
    height:56px;
    width:700px;
    border:1px solid red;
    position:absolute;
    left:330px;
    z-index:2;
}
.sty1 > a:nth-of-type(2){
    display:block;
    height:15px;
    width:15px;
    border:1px solid blue;
    position:absolute;
    left:1040px;
    z-index:2;
    background:url(../img/closesmall.png) no-repeat center center;
}
.sty1 > a:nth-of-type(2) img{
    height:15px;
    width:15px;
}